---
import SocialLinks from "./SocialLinks.astro";
import About from "./About.astro";
import Projects from "./Projects.astro";
import Portrait from "./Portrait.astro";
import Title from "./Title.astro";
---

<div class="mx-auto flex min-h-screen max-w-3xl flex-col gap-8 p-8 lg:pt-20">
  <header class="flex flex-col gap-4">
    <Portrait />
    <Title />
  </header>

  <main class="flex flex-1 flex-col items-stretch gap-8">
    <section>
      <About />
    </section>

    <section>
      <Projects />
    </section>
  </main>

  <footer class="text-xs text-stone-500">Copyright © 2025 Lukas Dams</footer>
</div>
