---
import GitHubLogo from "./GitHubLogo.astro";
import LinkedInLogo from "./LinkedInLogo.astro";
---

<ul class="flex flex-row gap-4">
  <li>
    <a href="https://linkedin.com/in/ludams" class="flex">
      <LinkedInLogo class="h-7 w-7" />
    </a>
  </li>
  <li>
    <a href="https://github.com/ludams">
      <GitHubLogo class="h-7 w-7" />
    </a>
  </li>
</ul>
