<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Lukas Dams – Software Engineer</title>
  </head>
  <body
    class="min-h-screen w-full bg-stone-100 text-stone-900 dark:bg-stone-900 dark:text-stone-100"
  >
    <slot />
  </body>
</html>
